* {
  margin: 0;
  box-sizing: border-box;
}
.offers.wrapper {
  width: 90%;
  margin: 1vh 0;
}
.offers ul {
  display: flex;
  flex-direction: column;
}
.offers li {
  margin: 0;
  padding: 1vw 0 1vw 40px;
  list-style: none;
  background-image: url("/images/banner/airplane-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 2vw;
}
