.impressum{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    height: 40vh;
    width: 100%;
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
    justify-content: space-around;
    padding-bottom: 5vh;
}
.impressum h2{
    font-size: 1.5em;
}
.impressum a{
    color: rgba(255, 255, 255, 0.8);
}