.gallery{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 88vh;
    width: 100%;

    background-color: rgba(232, 247, 255, 0.482);
}
.gallery h3{
    margin-bottom: 5vh;
    font-size: 2em;
}
.vacay-window{
    width: 60%;
    height: 60%;
    overflow: hidden
}
.vacay-window img{
    min-width: 100%;
    min-height: 100%;
}