.offer-display{
    border: red solid 3px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 5vw;

    width: 30vw;
    height: 80%;
}